[submodule "lib/STM32L476xx/hal-driver"]
	path = lib/STM32L476xx/hal-driver
	url = git@github.com:STMicroelectronics/stm32l4xx_hal_driver.git
[submodule "lib/SystemView"]
	path = lib/SystemView
	url = git@github.com:SEGGERMicro/SystemView.git
